

/*@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto/roboto400normal.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto/roboto700normal.woff') format('woff');
}*/

// Variables
$font-family: 'Roboto', sans-serif;
$tv_background_color: black;
$tv_color: #F1F1F1;
$tv_hover_bg_color: #28404A;
$tv_hover_fg_color: #F2F2F2;
$tv_hover_border_color: #2D728F;
$tv_selectable_bg_color: #0399CD;
$tv_selectable_border_color: #00759C;
$tv_selectable_fg_disabled_color: #6E6E6E;
$tv_pressed_bg_color: #2C799A;
$tv_pressed_border_color: #2E464E;
$tv_selected_border_color: #36B5E4;
$tv_disabled_bg_color: #191919;
$tv_disabled_border_color: #191A1A;
$tv_disabled_fg_color: #272727;


// Import compass partials

@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix";
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/utilities";
@import "compass/layout/grid-background";
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
@import "compass/typography/links/link-colors"; // Helps set up a links color.
@import "compass/layout/sticky-footer"; // Helps set up a footer region.
@import "compass/css3/box-shadow";
@import "compass/css3/box";

@include font-face("Roboto", inline-font-files('roboto/roboto400normal.woff', woff));
@include font-face("Roboto", inline-font-files('roboto/roboto700normal.woff', woff),$weight:bold);
