@charset "UTF-8";
@import "base";
@import "tv/selection";
@import "tv/media-categories";
@import "tv/checkboxes";
@import "tv/controls";
@import "tv/device-types";

$webinosBlue:#0099CC;
$devicelogo: #FFFFFF;
//Category images fallback background colors
$categoryMusicBGDark:#0099CC;
$categoryMusicBGLight:#0190C0;
$categoryVideosBGDark:#CC2B00;
$categoryVideosBGLight:#B42600;
$categoryImagesBGDark:#4EB815;
$categoryImagesBGLight:#4EAB1B;
$categoryChannelsBGDark:#FDBD10;
$categoryChannelsBGLight:#FDAC10;

html {
  height: 100%;
}


$baseFontSize: 16px;
body {
  font-size: $baseFontSize;
  margin: 0px;
  font-family: $font-family;
  height: 100%;
  background-color: $tv_background_color;
  color: $tv_color;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

::-webkit-scrollbar-piece {
  width: 0.2em;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 0.125em $tv_background_color;
  background-color: gray;
  border-radius: 0.125em;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.125em;
  background: $webinosBlue;
}

#mobilebrowser {
  height: 100%;
}

#leftfadeout/*,
#renderer*/ {
  display: none;
}

#toast {
  @include box-sizing(border-box);
  width: 70%;
  min-height: 10%;
  background-color: $tv_toast_bg_color;
  border: 3px solid $tv_selectable_bg_color;
  @include border-radius(5px);
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -35%;
  margin-top: -5%;
  padding:2%;
  z-index: 99999;

  p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2em;
    top: 25%;
    position: relative;
    white-space: normal;
  }
}

#topmenu {
  float: left;
  height: 100%;
  width: 17%;
  margin: 0 3%;
  position: relative;

  >div:nth-child(1) {
    top: 2%;
  }

  >div:nth-child(2) {
    top: 35%;
  }

  >div:nth-child(3) {
    top: 68%;
  }

  .mobilemenu-item {
    position: absolute;
    height: 30%;
    width: 96%;
    display: table;
    @include selectable-element;
  }

  .mobilemenu-item.mobilemenu-active {
    @include selected;
  }

  .mobilemenu-item:hover,
  .mobilemenu-item.focus {
    @include focussed;
  }

  .mobilemenu-item:active {
    @include pressed;
  }

  .mobilemenu-item-inner {
    margin: auto;
    padding-right: 17.5%;
    padding-left: 17.5%;
    font-size: 2.3em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}

.subpage {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 77%;
    height: 100%;
    visibility: hidden;
}

.subpage-current {
    visibility: visible;
    z-index: 1;
}

#container-device {
  .header-item-device, .device-column {
    @include box-sizing(border-box);
    width: 50%;
    float: left;
  }

  .header-item-device {
    height: 3em;
/*     padding: 15px 2px 15px 2px; */
    border-bottom: 4px solid $tv_container_border_color;
    font-size: 3em;
    display: table;
    white-space: nowrap;

    >* {
      vertical-align: middle;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #current-source-name,
    #current-target-name {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
    }
  }

  .header-active {
    color: $tv_selectable_bg_color;
    border-color: $tv_selectable_bg_color;
    @include device-types(1.5em);
    .device-image {
      margin-top: 1.1em;
    }
  }

  .device-column {
    height: 85%;
  }

  $deviceNameFontSize: 2em;
  .device-name {
    font-size: $deviceNameFontSize;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .device-type {
    font-size: $deviceNameFontSize;
    font-weight: bold;
    color: $webinosBlue;
    padding-left: 10%;
    padding-right: 10%;
  }


  #mobilesourcelist,
  #mobiletargetlist {
    list-style-type: none;
    padding-left: 0.25em;
    padding-right: 0.25em;
    height: 95%;
    overflow-x: hidden;
    overflow-y: auto;

    li {
      @include selectable-element;
      @include device-types(15%);
      .device-image {
        float: right;
      }

      padding: 2em;
      box-sizing: inherit;
      -webkit-box-sizing: inherit;
    }

    li.mobileselected {
      @include selected;
      box-sizing: inherit;
      -webkit-box-sizing: inherit;
    }

    li:hover,
    li.focus {
      @include focussed;
      box-sizing: inherit;
      -webkit-box-sizing: inherit;
    }

    li:active {
      @include pressed;
      box-sizing: inherit;
      -webkit-box-sizing: inherit;
    }
  }

  #mobilesourcewrapper {
    border-right: 1px solid $tv_container_border_color;
  }
}

$headerHeight: 5em;
#container-media {
  .header-media {
    height: $headerHeight;
    .header-item-media {
      #selected-source {
        display: none;
      }

      #selected-source-intro,
      #selected-source-name {
        display: inline-block;
      }
    }

    .header-item-media:nth-child(1) {
      @include box-sizing(border-box);
/*       padding: 1em 0.125em 1.25em 0.125em; */
      height: 100%;
      font-size: 3em;
      border-bottom: 0.0625em solid $tv_container_border_color;
    }

    .separator {
      clear: both;
    }
  }

  #mobilecategorywrapper {
    @include box-sizing(border-box);
    position: absolute;
    top: $headerHeight + 0.5em;
    bottom: 0;
    width: 15%;
    padding-top: 2em;
    padding-bottom: 1.25em;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 1.5em 0 0 0;
      height: 100%;

      li {
        height: 25%;
        margin-bottom: 0.25em;

        $categoryImageWidth: 80%;
        .category-image {
          width: $categoryImageWidth;
          padding-bottom: $categoryImageWidth;
          height: 0;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      li:hover {
        cursor: pointer;
      }

      .category-type-movies {
        .category-image {
          @include category-image('media-movies.svg',$categoryVideosBGLight,$categoryVideosBGDark);
        }
      }

      .category-type-movies.mobileselected
      {
        .category-image {
          @include highlighted-category-image('media-movies.svg',$categoryVideosBGLight,$categoryVideosBGDark);
        }
      }

      .category-type-movies.focus,
      .category-type-movies:hover {
        .category-image {
          @include highlighted-category-image('media-movies.svg',$categoryVideosBGLight,$categoryVideosBGDark,$tv_color);
        }
      }


      .category-type-music {
        .category-image {
          @include category-image('media-music.svg',$categoryMusicBGLight,$categoryMusicBGDark);
        }
      }

      .category-type-music.mobileselected
      {
        .category-image {
          @include highlighted-category-image('media-music.svg',$categoryMusicBGLight,$categoryMusicBGDark);
        }
      }

      .category-type-music.focus,
      .category-type-music:hover {
        .category-image {
          @include highlighted-category-image('media-music.svg',$categoryMusicBGLight,$categoryMusicBGDark,$tv_color);
        }
      }

      .category-type-images {
        .category-image {
          @include category-image('media-images.svg',$categoryImagesBGLight,$categoryImagesBGDark);
        }
      }

      .category-type-images.mobileselected {
        .category-image {
          @include highlighted-category-image('media-images.svg',$categoryImagesBGLight,$categoryImagesBGDark);
        }
      }

      .category-type-images.focus,
      .category-type-images:hover {
        .category-image {
          @include highlighted-category-image('media-images.svg',$categoryImagesBGLight,$categoryImagesBGDark,$tv_color);
        }
      }


      .category-type-channels {
        .category-image {
          @include category-image('media-channels.svg',$categoryChannelsBGLight,$categoryChannelsBGDark);
        }
      }

      .category-type-channels.mobileselected{
        .category-image {
          @include highlighted-category-image('media-channels.svg',$categoryChannelsBGLight,$categoryChannelsBGDark);
        }
      }

      .category-type-channels.focus,
      .category-type-channels:hover {
        .category-image {
          @include highlighted-category-image('media-channels.svg',$categoryChannelsBGLight,$categoryChannelsBGDark,$tv_color);
        }
      }

    }

    .category-name {
      display: none;
    }
  }

  #media-actions {
    @include box-sizing(border-box);
    position: absolute;
    right: 0;
    top: $headerHeight;
    width: 75%;
    margin-right: 5%;
    height: $headerHeight;
    border-bottom: 0.0625em solid $tv_container_border_color;
    //uncomment to enable shadow over the topmost list item
    //box-shadow: 0 1.6em 1.4em 1em rgb(0, 0, 0);
    //z-index: 9999;

    .header-item-media.header-item-mediaactions {
      padding-top: 1em;
    }

    .nav_media_action {
      display: inline-block;
      @include selectable-button;
      padding: 0.25em 1em;
      margin-right: 0.25em;
    }

    .nav_media_action.focus,
    .nav_media_action:hover {
      @include focussed;
    }

    .nav_media_action:active {
      @include pressed;
    }

    .nav_media_action.disabled {
      @include selectable-button-disabled;
    }

    #select-media-dd-wrapper {
      font-size: 1.5em;
    }
  }

  #mobilecontentwrapper {
    position: absolute;
    right: 0;
    top: 2 * $headerHeight;
    width: 75%;
    height: 83%;
    margin-right: 5%;

    ul {
      padding-left: 0;
      list-style-type: none;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;

      li {
        @include selectable-element;
        padding: 0.3125em 0.625em 0.4375em 0.625em;
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.5em;
        line-height: 1.5em;
        .itemcontainer {
          @include tv-checkboxes;

          div {
            display: inline;
            vertical-align: middle;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .itemartists:before {
            content:" - ";
            margin-left: 0.25em;
          }
        }
      }

      li.focus,
      li:hover {
        @include focussed;
        @include mediaMobileHover;
      }
      li.mobileselected {
        @include mediaMobileSelected;
      }
    }
  }
}

#container-queue {
  #header-queue {
    //@include box-sizing(border-box);
    padding-top: 1em;
    height: 7.5em;
    width: 100%;
    padding-bottom: 0.25em;

    #mobilequeuetargetwrapper {
      height: 100%;
      width: 100%;
      #mobilequeuetargetlist {
        list-style-type: none;
        height: 100%;
        width: 100%;
        -webkit-padding-start: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        li {
          @include selectable-element;
          display: inline-block;
          height: 90%;
          padding: 0.25em 0.5em 0.25em 0.5em;
          width: 20%;
          box-sizing: inherit;

          $deviceNameFontSize: 1.5em;
          @include device-types(2*$deviceNameFontSize);
          .device-image{
            top:$deviceNameFontSize;
          }
          .device-name {
            font-size: $deviceNameFontSize;
            padding-left: 10%;
            padding-right: 10%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: $deviceNameFontSize;
            position: relative;
            top: -1.5em;
          }

          .device-type {
            font-size: $deviceNameFontSize;
/*             font-weight: bold; */
            color: $webinosBlue;
            padding-left: 10%;
            padding-right: 10%;
            margin-left: $deviceNameFontSize;
            position: relative;
            top: -1.5em;
          }

        }

        li:hover,
        li.focus {
          @include focussed;
          @include mediaMobileHover;
          box-sizing: inherit;
        }

        li:active {
          @include pressed;
          box-sizing: inherit;
        }

        li.mobileselected {
          @include selected;
          box-sizing: inherit;
        }
      }
    }
  }

  #mobilequeuecontrols {
    @include player-control-bar(12em,1em);
    @include listControlButtons;

    #mobileControlButtons {
      right: 0;
      height: 4em;
    }

    #mobileControlButtons2 {
      left: 0;
      padding-left: 1em;
      padding-bottom: 1.25em;

      .textButton{
        display: inline-block;
        @include selectable-button;
        padding: 0.25em 1em;
        margin-right: 0.25em;
      }

      .textButton.focus,
      .textButton:hover {
        @include focussed;
      }

      .textButton:active {
        @include pressed;
      }

      .textButton.disabled {
        @include selectable-button-disabled;
      }
    }

    @include controlButtons;
  }

  #mobilequeuewrapper {
    height: 73%;
    ul {
      padding-left: 0;
      list-style-type: none;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;

      li {
        @include selectable-element;
        padding: 0.3125em 0.625em 0.4375em 0.625em;
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.5em;
        line-height: 1.5em;

        .itemcontainer {
          @include tv-checkboxes;

          div {
            display: inline;
            vertical-align: middle;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .itemartists:before {
            content:" - ";
            margin-left: 4px;
          }
        }
      }

      li.focus,
      li:hover {
        @include focussed;
        @include mediaMobileHover;
      }
      li.mobileselected {
        @include mediaMobileSelected;
      }
    }

  }
}

#renderer{
  background-color: $tv_background_color;
  color: $tv_color;
  height: 100%;
  text-align: center;

  video{
    height: 85%;
  }

  .imageContainer {
    height: 85%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .rendererControlls{
    bottom: 0;
    position: absolute;
    width: 100%;
    //height: 15%;
    text-align: left;
    .full.controlContainer{
      @include player-control-bar(10em,4em);
      @include listControlButtons;
      @include controlButtons;
      .controlButtons{
        right:0;
        height:4em;
      }
      .controlTime{
        top: 2.875em;
      }
      .controlSbar{
        span.elapsed{
          top:-2.625em;
        }
        span.remaining{
          left: 97.2%;
          top:-3.875em;
        }
      }
    }
  }
}
