@charset "UTF-8";
@import "base";

$webinosBlue:#0099CC;
$devicelogo: #FFFFFF;
//Category images fallback background colors
$categoryMusicBGDark:#0099CC;
$categoryMusicBGLight:#0190C0;
$categoryVideosBGDark:#CC2B00;
$categoryVideosBGLight:#B42600;
$categoryImagesBGDark:#4EB815;
$categoryImagesBGLight:#4EAB1B;
$categoryChannelsBGDark:#FDBD10;
$categoryChannelsBGLight:#FDAC10;

@mixin tv-checkboxes{
  input[type="checkbox"] {
    font-size: 1.3em;
    position: relative;
    border: 0.0625em solid gray;
    display: inline-block;
    line-height: 1em;
    margin-right: 0.75em;
    padding: 0;
    width: 1em;
    height: 1em;
    vertical-align: text-top;
    background: black;
    -webkit-appearance: none;
  }
  
  input[type=checkbox]:checked::after {
    position: absolute;
    content: '';
    left: 10%;
    top: 15%;
        height: 25%;
    width: 60%;
    border-bottom: 0.25em solid $webinosBlue;
    border-left: 0.25em solid $webinosBlue;
    -webkit-transform: rotate(-45deg);
  }
}

@mixin highlighted-category{
  $selectedCategoryColor: $webinosBlue;
  box-shadow: inset 0px 0px 0px 0.5em black;
  background-size: 80%, 100%;
  border: 0.125em solid $selectedCategoryColor;
}

@mixin selectable-element {
  @include box-sizing(border-box);
  @include border-radius(5px);
  border: 2px solid $tv_background_color;
}

@mixin selectable-button {
  @include selectable-element;
  background-color: #0399CD;
  border-color: #00759C;
  color: #F2F2F2;
}

@mixin selectable-button-disabled {
  @include selectable-element;
  background-color: $tv_background_color;
  border-color: $tv_background_color;
  color: #6E6E6E;
}

@mixin focussed {
  @include selectable-element;
  background-color: #28404A;
  border-color: #2D728F;
  color: #F2F2F2;
  cursor: pointer;
}

@mixin mediaMobileSelected {
  @include selectable-element;
  background-color: $tv_background_color;
  border-color: #2D728F;
  color: #F2F2F2;
  cursor: pointer;
}

@mixin pressed {
  @include selectable-element;
  background-color: #2C799A;
  border-color: #2E464E;
  color: #F2F2F2;
  cursor: pointer;
}

@mixin selected {
  @include selectable-element;
  border-color: #36B5E4;
  color: #0399CD;
}

@mixin disabled {
  @include selectable-element;
  background-color: #191919;
  border-color: #191A1A;
  color: #272727;
}

html {
  height: 100%;
}

body {
  font-size: 16px;
  margin: 0px;
  font-family: $font-family;
  height: 100%;
  background-color: $tv_background_color;
  color: $tv_color;
}

#mobilebrowser {
  height: 100%;
}

#leftfadeout,
#renderer {
  display: none;
}

#toast {
  @include box-sizing(border-box);
  width: 70%;
  min-height: 10%;
  background-color: white;
  border: 3px solid #0399CD;
  @include border-radius(5px);
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -35%;
  margin-top: -5%;
  padding:2%;
  z-index: 99999;

  p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2em;
    top: 25%;
    position: relative;
    white-space: normal;
  }
}

#topmenu {
  float: left;
  height: 100%;
  width: 17%;
  margin: 0 3%;
  position: relative;

  >div:nth-child(1) {
    top: 2%;
  }

  >div:nth-child(2) {
    top: 35%;
  }

  >div:nth-child(3) {
    top: 68%;
  }

  .mobilemenu-item {
    position: absolute;
    height: 30%;
    width: 96%;
    display: table;
    @include selectable-element;
  }

  .mobilemenu-item.mobilemenu-active {
    @include selected;
  }

  .mobilemenu-item:hover,
  .mobilemenu-item.focus {
    @include focussed;
  }

  .mobilemenu-item:active {
    @include pressed;
  }

  .mobilemenu-item-inner {
    margin: auto;
    padding-right: 17.5%;
    padding-left: 17.5%;
    font-size: 2.3em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}

.subpage {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 77%;
    height: 100%;
    visibility: hidden;
}

.subpage-current {
    visibility: visible;
    z-index: 1;
}

#container-device {
  .header-item-device, .device-column {
    @include box-sizing(border-box);
    width: 50%;
    float: left;
  }

  .header-item-device {
    height: 4em;
    padding: 15px 2px 15px 2px;
    border-bottom: 4px solid white;
    font-size: 3em;
    display: table;
    white-space: nowrap;

    >* {
      vertical-align: middle;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #current-source-name,
    #current-target-name {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
    }
  }

  .header-active {
    color: #0399CD;
    border-color: #0399CD;
  }

  .device-column {
    height: 85%;
  }
  
  $deviceNameFontSize: 2em;
  .device-name {
    font-size: $deviceNameFontSize;
    font-weight: bold;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  .device-type {
    font-size: $deviceNameFontSize;
    font-weight: bold;
    color: $webinosBlue;
    padding-left: 20%;
    padding-right: 20%;
  }


  #mobilesourcelist,
  #mobiletargetlist {
    list-style-type: none;
    padding-left: 0;
    padding-right: 5px;

    li {
      @include selectable-element;

      $deviceIconWidth: 15%;
      .device-image {
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        background-color: $devicelogo;
        width: $deviceIconWidth;
        height: 0;
        padding-bottom: $deviceIconWidth;
        float:right;
      }

      .device-image.type-laptop {
        -webkit-mask-image: inline-image('laptop.svg');
      }

      .device-image.type-pc {
        -webkit-mask-image: inline-image('pc.svg');
      }

      .device-image.type-phone {
        -webkit-mask-image: inline-image('phone.svg');
      }

      .device-image.type-tablet {
        -webkit-mask-image: inline-image('tablet.svg');
      }

      .device-image.type-tv {
        -webkit-mask-image: inline-image('tv.svg');
      }

      .device-image.type-unknown {
        -webkit-mask-image: inline-image('all_devices.svg');
      }
      
      .device-image.type-none {
        visibility: hidden;
      }
      
      padding: 2em;
    }

    li.mobileselected {
      @include selected;
    }

    li:hover,
    li.focus {
      @include focussed;
    }

    li:active {
      @include pressed;
    }
  }

  #mobilesourcewrapper {
    border-right: 1px solid white;
  }
}

$headerHeight: 5em;
#container-media {
  .header-media {
    height: $headerHeight;
    .header-item-media {
      #selected-source {
        display: none;
      }

      #selected-source-intro,
      #selected-source-name {
        display: inline-block;
      }
    }

    .header-item-media:nth-child(1) {
      @include box-sizing(border-box);
      padding: 1em 0.125em 1.25em 0.125em;
      height: 100%;
      font-size: 3em;
      border-bottom: 0.0625em solid white;
    }

    .separator {
      clear: both;
    }
  }

  #mobilecategorywrapper {
    @include box-sizing(border-box);
    position: absolute;
    top: $headerHeight + 0.5em;
    bottom: 0;
    width: 15%;
    padding-top: 2em;
    padding-bottom: 1.25em;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      height: 100%;

      li {
        height: 25%;
        margin-bottom: 0.25em;

        $categoryImageWidth: 100%;
        .category-image {
          width: $categoryImageWidth;
          padding-bottom: $categoryImageWidth;
          height: 0;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      li:hover {
        cursor: pointer;
      }
      
      .category-type-movies {
        .category-image {
          //background-image: url('../images/media-movies.svg');
          background-image: inline-image('media-movies.svg'),-webkit-linear-gradient(-45deg,$categoryVideosBGLight 50%,$categoryVideosBGDark 50%);
          border-radius: 100%;
          //background-size: 80%;
        }
      }

      .category-type-movies.focus,
      .category-type-movies.mobileselected,
      .category-type-movies:hover {
        .category-image {
          @include highlighted-category;
          background-image: inline-image('media-movies.svg'),-webkit-linear-gradient(-45deg,$categoryVideosBGLight 50%,$categoryVideosBGDark 50%);
          border-radius: 100%;
        }
      }

      .category-type-music {
        .category-image {
          background-image: inline-image('media-music.svg'),-webkit-linear-gradient(-45deg,$categoryMusicBGLight 50%,$categoryMusicBGDark 50%);
          //background-size: 80%;
          border-radius: 100%;
        }
      }

      .category-type-music.focus,
      .category-type-music.mobileselected,
      .category-type-music:hover {
        .category-image {
          @include highlighted-category;
          background-image: inline-image('media-music.svg'),-webkit-linear-gradient(-45deg,$categoryMusicBGLight 50%,$categoryMusicBGDark 50%);
          border-radius: 100%;
        }
      }

      .category-type-images {
        .category-image {
          background-image: inline-image('media-images.svg'),-webkit-linear-gradient(-45deg,$categoryImagesBGLight 50%,$categoryImagesBGDark 50%);
          border-radius: 100%;
        }
      }

      .category-type-images.focus,
      .category-type-images.mobileselected,
      .category-type-images:hover {
        .category-image {
          @include highlighted-category;
          background-image: inline-image('media-images.svg'),-webkit-linear-gradient(-45deg,$categoryImagesBGLight 50%,$categoryImagesBGDark 50%);
          border-radius: 100%;
        }
      }

      .category-type-channels {
        .category-image {
          background-image: inline-image('media-channels.svg'),-webkit-linear-gradient(-45deg,$categoryChannelsBGLight 50%,$categoryChannelsBGDark 50%);
          border-radius: 100%;
        }
      }

      .category-type-channels.focus,
      .category-type-channels.mobileselected,
      .category-type-channels:hover {
        .category-image {
          @include highlighted-category;
          background-image: inline-image('media-channels.svg'),-webkit-linear-gradient(-45deg,$categoryChannelsBGLight 50%,$categoryChannelsBGDark 50%);
          border-radius: 100%;
        }
      }
    }

    .category-name {
      display: none;
    }
  }

  #media-actions {
    @include box-sizing(border-box);
    position: absolute;
    right: 0;
    top: $headerHeight + 0.5em;
    width: 75%;
    margin-right: 5%;
    height: $headerHeight + 0.6em;
    padding-top: 2.2em;
    border-bottom: 0.0625em solid white;

    .nav_media_action {
      display: inline-block;
      @include selectable-button;
      padding: 0.25em 1em;
      margin-right: 0.25em;
    }

    .nav_media_action.disabled {
      @include selectable-button-disabled;
    }

    .nav_media_action.focus,
    .nav_media_action:hover {
      @include focussed;
    }

    .nav_media_action:active {
      @include pressed;
    }
    
    #select-media-dd-wrapper {
      font-size: 1.5em;
    }
  }

  #mobilecontentwrapper {
    position: absolute;
    right: 0;
    top: 2 * $headerHeight;
    width: 75%;
    margin-right: 5%;
    
    ul {
      padding-left: 0;
      list-style-type: none;

      li {
        @include selectable-element;
        padding: 0.3125em 0.625em 0.4375em 0.625em;
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.5em;
        .itemcontainer {
          @include tv-checkboxes;

          div {
            display: inline-block;
            vertical-align: middle;
          }

          .itemartists:before {
            content:" - ";
            margin-left: 0.25em;
          }
        }
      }

      li.focus,
      li:hover {
        @include focussed;
      }
      li.mobileselected {
        @include mediaMobileSelected;
      }
    }
  }
}

#container-queue {
  #header-queue {
    @include box-sizing(border-box);
    padding-top: 15px;
    height: 86px;
    padding-bottom: 5px;

    #mobilequeuetargetwrapper {
      #mobilequeuetargetlist {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          @include selectable-element;
          display: inline-block;
          padding: 2em;
        }

        li.mobileselected {
          @include selected;
        }

        li:hover,
        li.focus {
          @include focussed;
        }

        li:active {
          @include pressed;
        }
      }
    }
  }

  #mobilequeuecontrols {
    position: relative;
    height: 100px;
    border-top: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    background: inline-image('tv_controls_back.png');

    .controlItemInfo {
      height: 40px;
    }

    .listControlButtons {
      position: absolute;
      left: 0;
      bottom: 0;

      .button {
        display: inline-block;
        @include selectable-button;
        padding: 5px 15px;
        margin-right: 5px;
      }

      .button.disabled {
        @include selectable-button-disabled;
      }

      .button.focus,
      .button:hover {
        @include focussed;
      }

      .button:active {
        @include pressed;
      }
    }

    .controlButtons {
      height: 60px;
      position: absolute;
      right: 0;
      bottom: 0;

      .controlButton{
        float: right;
        background-color: $webinosBlue;
        width: 50px;
        height: 50px;
        margin-top: 0;
        margin-right: 12px;
        border-radius: 50px;
        background-size: cover;
        background-position: center;
      }

      .controlPlay{
        background-image: inline-image('player_play.svg');
      }
      .controlPaus{
        background-image: inline-image('player_pause.svg');
      }
      .controlPrev{
        background-image: inline-image('player_prev.svg');
      }
      .controlNext{
        background-image: inline-image('player_next.svg');
      }
    }

    .controlSbar,
    .controlStime {
      display: none;
    }
  }

  #mobilequeuewrapper {
    ul {
      padding-left: 0;
      list-style-type: none;

      li {
        @include selectable-element;
        padding: 5px 10px 7px 10px;

        .itemcontainer {
//          input[type="checkbox"] {
//            margin: 0 10px 0 0;
//            width: 20px;
//            height: 20px;
//            vertical-align: middle;
//          }
          @include tv-checkboxes;

          div {
            display: inline-block;
            vertical-align: middle;
          }

          .itemartists:before {
            content:" - ";
            margin-left: 4px;
          }
        }
      }

      li.focus,
      li:hover {
        @include focussed;
      }
    }

  }
}