@charset "UTF-8";
@import "base";
@import 'mobile/mobileplayer';
@import 'mobile/toast';
@import 'mobile/mobiledropdownmenu';
@import 'mobile/listitems.scss';
@import 'mobile/generic.scss';

$green: #669c08;
$blue: #48b3e4;
$fontcolor: #333333;
$darkgray: #777777;
$mediumgray: #dadada;
$lightgray: #f1f1f1;
$bordergray: gray;
$devicelogo: #383838;
$orange: #eeba42;

$fontsize: 16px;
$fontsizemini: 13px;
$fontsizelarge: 20px;

$mintabletwidth: 1200px;
$headerheight: 56px;
$menuheight: 50px;
$content-list-min-size:40px;
$category-wrapper-width-largescreen:150px;

@include genericMobile;

.pt-page {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #333;
  visibility: hidden;
}

.pt-page-current {
  visibility: visible;
  z-index: 1;
  
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

#walkthrough.pt-page-current {
	background-color: $blue;
	color: white;
	text-align: center;
	
	
	.wt-page {
		visibility: hidden;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
	
	.wt-page-current {
		visibility: visible;
		z-index: 2;
	}
	
	.description {
		font-size: $fontsizelarge;
		margin-top: 5%;
		margin-left: 15px;
		margin-right: 15px;
	}
	
	.button {
		border-radius: 15px;
		-webkit-box-flex: 1;
		margin: 15px;
		padding: 15px;
		color: $blue;
		font-size: $fontsizelarge;
		background-color: white;
	}
	
	#wt-startbuttons {
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		margin-top: 5%;
	}

	.webinos-logo {
		background-image: inline-image('webinos_logo.svg');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		
		height: 70px;
		width: 100%;
	}
	
	#wt-carousel {
		margin: 0 auto;
  		width: 100%;
  		height: 80%;
  		background: #efefef;
  		overflow: hidden;
		
		.carousel_box {
  			float: left;
  			border: solid #fff 5px;
  			width: 100%;
  			height: 100%;
  			color: #fff;
  			background: #252525;
  			line-height: 140px;
  			text-align: center;
  			font-size: 123%;
  		}
  	}
}

#mobilebrowser.pt-page-current {
	color: $fontcolor;
	background-color: white;
	text-align: left;

	ul {
		list-style-type:none;
		padding: 0px;
		margin: 0px;
	}

	li, ul {
		text-align: left;
		color: $fontcolor;
		background-color: white;
		font-family: 'Roboto', sans-serif;
	}

	.mobilemenu {
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		width: 100%;
		background-color: $lightgray;
		overflow: hidden;
		border-bottom: 1px solid $green;
		height: $menuheight;
	}

	.mobilemenu-item {
		-webkit-box-flex: 1;
		text-align: center;
		padding: 14px 2px 15px 2px;
		text-decoration: none;
	}

	.mobilemenu-border {
		height: 20px;
		margin: 15px 2px 0px 2px;
		border-left: 1px solid $mediumgray;
	}

	.mobilemenu-item.mobilemenu-active {
		border-bottom: 5px solid $green;
		padding-bottom: 10px;
	}
	
	.header-control {
		width: 100%;
		height: $headerheight;
		overflow: hidden;
		border-bottom: 1px solid $blue;
		display: -webkit-box;
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: center;
		-webkit-box-align: center;
	}

	#menu-device {

		&:before {
			@media screen and (min-width: 551px) {
				content: 'Source and Target';
			}

			@media screen and (max-width: 550px) {
				content: 'Source & Target';
			}

			@media screen and (max-width: 410px) {
				content: 'Devices';
			}
		}
	}

	.subpage {
		overflow: hidden;
		width: 100%;
		height: auto;
		visibility: hidden;
		position: absolute;
		top: $menuheight + 1;
		bottom: 0;
	}

	.subpage-current {
		visibility: visible;
		z-index: 1;
		background-color: white;
	}

	.header {
		width: 100%;
		height: $headerheight;
		overflow: hidden;
		border-bottom: 1px solid $blue;
	}

	.header-item-device {
		-webkit-box-sizing: border-box;

		width: 50%;
		height: 100%;
		float: left;
		text-align: center;
		padding: 15px 2px 15px 2px;
		white-space: nowrap;
	}

	#device-arrow {
		width: 40px;
		height: 14px;
		background-image: inline-image('device-arrow.svg');
		position: absolute;
		left: 49%;
		top: $headerheight / 2 - 7;

		@media screen and (max-width: $mintabletwidth) {
			display: none;
		}
	}

	#current-source-logo {
		background-size: contain;
		vertical-align: middle;
		height: 30px;
		width: 36px;
		display: inline-block;
	}

	#current-source-name {
		display: inline-block;
		vertical-align: middle;
		width: 70%;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-bottom: 4px;
	}

	#current-target-logo {
		background-size: contain;
		vertical-align: middle;
		height: 30px;
		width: 36px;
		display: inline-block;
	}

	#current-target-name {
		display: inline-block;
		vertical-align: middle;
		width: 70%;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-bottom: 4px;
	}

	.header-media {
		width: 100%;
		height: $headerheight;
		overflow: hidden;
		border-bottom: 1px solid $blue;
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: center;
		-webkit-box-align: center;
	}

	.header-queue {
		width: 100%;
		height: $headerheight;
		overflow: hidden;
		border-bottom: 1px solid $blue;
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: center;
		-webkit-box-align: center;
	}

	.header-item-queue {
		margin-left: 8px;
	}

	#mobilequeuetargetwrapper {
		width: 100%;
	}

	#mobilequeuetargetlist {
		li.mobileselected {
			height: 44px;
			border-bottom-width: 5px;
			border-bottom-color: $blue;
			border-bottom-style: solid;
			padding: 8px 8px 0px 8px;
		}
		li {
			padding: 8px 8px 0px 8px;
			height: 57px;
			display: inline-block;
			white-space: nowrap;
			border-image: none;
			max-width: 20%;
			
			.device-image {
				float: left;
				-webkit-mask-size: 36px 30px;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: 0% 50%;
				width: 40px;
			}

			.device-name {
				font-size: $fontsizemini;
			}
		}
	}

	.header-item-queue.separator {
		-webkit-box-flex: 1;
	}

	.header-item-media {
		margin-left: 8px;
	}

	.header-item-media.separator {
		-webkit-box-flex: 1;
	}

	.content-searchbox {
		border-bottom: solid 1px $blue;
		border-left: solid 1px $blue;
		margin-right: 5px;
		margin-top: 14px;
		border-right: solid 1px $blue;
		overflow: visible;
		max-height: 0.15em;
		display: inline-block;
		padding: 2px;
		vertical-align: middle;

		@media screen and (max-width: $mintabletwidth - 1) {
    		display: none;
    	}
	}

	.header-menu-border {
		height: 30px;
		border-left: 1px solid $mediumgray;
		display: inline-block;
		vertical-align: middle;
	}

	.headerbutton,.content-searchbutton,.content-queuebutton {
		$size:30px;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size:$size;
		width: $size;
		height: $size;
		display: inline-block;
		vertical-align: middle;
		background-color:$bordergray;
	}

	.content-searchbutton.disabled,.content-queuebutton.disabled  {
		background-color:$mediumgray;
	}

	.content-searchbox.disabled {
		border-bottom-color: $mediumgray;
		border-left-color: $mediumgray;
		border-right-color: $mediumgray;
	}

	.content-searchbutton {
		-webkit-mask-image: inline-image('magnifier.svg');
		margin-right: 15px;

		@media screen and (max-width: $mintabletwidth - 1) {
    		display: none;
    	}
	}

	.content-queuebutton {
		-webkit-mask-image: inline-image('add_to_playlist.svg');
		-webkit-mask-position: 50% 50%;
		height: $headerheight;
		padding-left: 15px;
		padding-right: 30px;
	}

	input[type=text] {
		outline: none;
		border: none;
		background: transparent;
		display: inline-block;
		position: relative;
		bottom: 1.1em;
		font-size: 15px;
	}

	.header-item-device.header-active {
		border-bottom: 3px solid $blue;
		padding-bottom: 10px;
	}

	.device-column {
		-webkit-box-sizing: border-box;
		position: absolute;
		bottom: 0;
		top: $headerheight + 1;
		width: 50%;
	}

	#mobilesourcewrapper {
	  border-right: 2px solid $mediumgray;
	}

	#mobiletargetwrapper {
		left: 50%;
	}
	
	#mobileselecttargetlist {
		li.mobileselected {
			height: 44px;
			border-bottom-width: 5px;
			border-bottom-color: $blue;
			border-bottom-style: solid;
			padding: 8px 8px 0px 8px;
		}
		li {
			padding: 8px 8px 0px 8px;
			height: 57px;
			display: inline-block;
			white-space: nowrap;
			border-image: none;

			.device-image {
				float: left;
				-webkit-mask-size: 36px 30px;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: 0% 50%;
				width: 40px;
			}

			.device-name {
				font-size: $fontsizemini;
			}
		}
	}

	.device {
		padding: 25px 30px 25px 30px;
		border-bottom: 1px;
		border-top: 0px;
		border-image: -webkit-linear-gradient(0deg, transparent, transparent 5%, $mediumgray 6%, $mediumgray 94%, transparent 95%, transparent) 1 stretch;
		white-space: nowrap;
	}

	.device-type {
		color: $darkgray;
		font-size: $fontsizemini;
	}

	.device {
		.device-image {
			float: right;
			height: 40px;
			width: 48px;
		}
	}
	
    .device, #wrapper-selected-target, #wrapper-selected-source, #wrapper-selected-sourcemedia {
		.device-image {
			-webkit-mask-size: contain;
			-webkit-mask-repeat: no-repeat;
			background-color: $devicelogo;
		}

		.device-image.type-laptop {
			-webkit-mask-image: inline-image('laptop.svg');
		}

		.device-image.type-pc {
			-webkit-mask-image: inline-image('pc.svg');
		}

		.device-image.type-phone {
			-webkit-mask-image: inline-image('phone.svg');
		}

		.device-image.type-tablet {
			-webkit-mask-image: inline-image('tablet.svg');
		}

		.device-image.type-tv {
			-webkit-mask-image: inline-image('tv.svg');
		}

		.device-image.type-unknown {
		    -webkit-mask-image: inline-image('all_devices.svg');
		}
		
		.device-image.type-none {
			visibility: hidden;
		}
	}

	.device.mobileselected {

		.device-name {
			color: $blue;
		}
		
		.device-image {
			-webkit-mask-size: contain;
			-webkit-mask-repeat: no-repeat;
			background-color: $blue;
		}
	}

	.device-name {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#selected-source {
		background-size: contain;
		vertical-align: middle;
		height: 30px;
		width: 36px;
		display: inline-block;
	}

	#selected-source-intro {
		@media screen and (min-width: $mintabletwidth) {
			display: inline-block;
			vertical-align: middle;
		}

		@media screen and (max-width: $mintabletwidth - 1) {
			display: none;
		}
	}

	#selected-source-name {
		display: inline-block;
		vertical-align: middle;
		color: $blue;
		margin-left: 6px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		@media screen and (max-width: $mintabletwidth - 1) {
			max-width: 165px;
		}
	}

	#mobilecategorywrapper {
		position: absolute;
		bottom: 0;
		top: $headerheight + 1;

		@media screen and (min-width: $mintabletwidth) {
			background-color: $lightgray;
			text-align: center;
			width: 150px;

			ul,li {
				background-color: $lightgray;
			}
		}

		@media screen and (max-width: $mintabletwidth - 1) {
			width: 100%;
		}
	}

	#mobilecategorylist {
		@media screen and (min-width: $mintabletwidth) {
			height: 100%;
			display: -webkit-box;
			-webkit-box-orient: vertical;
		}
	}

	#mobilecontentwrapper {

		@media screen and (min-width: $mintabletwidth) {
			left: 150px;
			position: absolute;
			top: $headerheight + 1;
			bottom: 0;
			right: 0;
			background: white;
			border-left: 2px solid $bordergray;
		}

		@media screen and (max-width: $mintabletwidth - 1) {
			left: 0;
			position: absolute;
			top: $headerheight + 1;
			bottom: 0;
			right: 0;
			background: white;
			visibility: hidden;

			.show {
				visibility: visible;
			}
		}
	}


	#mobilecontentwrapper.show {
		@media screen and (max-width: $mintabletwidth - 1) {
			visibility: visible;
		}
	}

	#categorylist {
		height: 100%;
	}

	.category {
		@media screen and (min-width: $mintabletwidth) {
			-webkit-box-flex: 1;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-box-pack: center;

			padding: 15px;
			border-bottom: 2px;
			border-top: 0;
			border-image: -webkit-linear-gradient(0deg, transparent, transparent 5%, $mediumgray 6%, $mediumgray 94%, transparent 95%, transparent) 1 stretch;
		}

		@media screen and (max-width: $mintabletwidth - 1) {
			-webkit-box-sizing: border-box;
			padding: 15px 30px 0px 30px;
			float: left;
			display: inline-block;
			text-align: center;
			width: 50%;
		}
	}

  div.category-image{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    @media screen and (min-width: $mintabletwidth) {
    	-webkit-box-pack: justify;
		-webkit-box-flex: 1;
	}
	@media screen and (max-width: $mintabletwidth - 1) {
		height: 110px;
	}
  }

	.category-name {
		text-align: center;

		@media screen and (max-width: $mintabletwidth - 1) {
			display: none;
			visibility: hidden;
		}
	}

	@media screen and (min-width: $mintabletwidth){
	  /*category-selection arrow*/
	  .arrow_box {
		position: relative;
		background: transparent;
	  }
	  .arrow_box:after, .arrow_box:before {
		right: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	  }

	  .arrow_box:after {
		border-color: rgba(136, 183, 213, 0);
		border-right-color: white;
		border-width: 13px;

		margin-top: -13px;
	  }
	  .arrow_box:before {
		border-color: rgba(194, 225, 245, 0);
		border-right-color: $bordergray;
		border-width: 16px;

		margin-top: -16px;
	  }

	  #categorycontentlist{
		height: 100%;
	  }

	  #categorycontentlist li.category-content{
		background:white;
		border-left:1px solid gray;
		display:none;
		height:100%;
	  }

	  #categorycontentwrapper{
		width:auto;
		position: relative;
		height:100%;
		top: -100%;
		left: $category-wrapper-width-largescreen;
	  }

  .media_item{
		background:red;
		color:yellow;
	  }


	  #selectmediawrapper{
		height:100%;
		width:100%;
	  }
	}


  #controlpadwrapper{
    width: 100%;
    height: 100%;
  }

  .tapButton{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: $mediumgray;
    border-radius: 100%;
    border: solid 2px $fontcolor;

    width: 250px;
    height: 250px;

    @media screen and (min-width: 480px){
      width: 320px;
      height: 320px;
    }
    @media screen and (min-width: $mintabletwidth){
      width: 480px;
      height: 480px;
    }
  }

  .controlbutton {
		position: absolute;
		width: 25%;
		height: 25%;
		background-color: $fontcolor;
		border-radius: 15px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 25%;
  }

  .controlbutton:active {
		opacity: 0.5;
  }

	.clickAreaUp {
		left: 38%;
		top: 10%;
		border-top-right-radius: 50%;
		border-top-left-radius: 50%;
		background-image: inline-image('arrow_big_up.svg');
	}


	.clickAreaLeft {
		left: 12%;
		top: 36%;
		border-top-left-radius: 50%;
		border-bottom-left-radius: 50%;
		background-image: inline-image('arrow_big_left.svg');
	}

	.clickAreaRight {
		left: 64%;
		top: 36%;
		border-top-right-radius: 50%;
		border-bottom-right-radius: 50%;
		background-image: inline-image('arrow_big_right.svg');
	}

	.clickAreaOk{
		left: 38%;
		top: 36%;
	}

	.clickAreaDown {
		top: 62%;
		left: 38%;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		background-image: inline-image('arrow_big_down.svg');
	}
	
  @include imgListItems;
  @include contentListItems;
  @include queueListItems;

}

#mobilecontentlist li.mobileselected{
  -webkit-animation: selection 1s;
}

@keyframes selection
{
from {background: $blue;}
to {background: white;}
}

@-webkit-keyframes selection
{
from {background: $blue;}
to {background: white;}
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: $blue;
}

@include selectMediaDropdownMenu;
@include toast;
@include mobilePlayer;
@include albumCover;