//mobile player UI
@mixin mobilePlayer{
  $tabletControlsMinHeight:150px;
  $tabletControlBarsTop:$tabletControlsMinHeight/3*2;

  $phoneControlsMinHeight:150px;
  $phoneControlBarsTop:$phoneControlsMinHeight/3;

  .controlButton{
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position-x: center;
  	width: 12%;
  	height: 100%;
  	float:left;
  	cursor: pointer;
  }

.controlPrev{
  background-image: url(../images/player_prev.svg);
}
.controlRewd{
  background-image: url(../images/player_bwd.svg);
}
.controlPlay{
  background-image: url(../images/player_play.svg);
}
.controlPaus{
  background-image: url(../images/player_pause.svg);
}
.controlFwrd{
  background-image: url(../images/player_fwd.svg);
}
.controlNext{
  background-image: url(../images/player_next.svg);
}
.controlDele{
  background-image: url(../images/trash_playlist.svg);
}
.controlFull{
  background-image: url(../images/player_enter_fullscreen.svg);
}
.controlBack{
  background-image: url(../images/player_exit_fullscreen.svg);
}
.controlHres{
  background-image: url(../images/player_hd.svg);
}
.controlSbar{
  width: 94%;
  height: 10%;
  background-color: #666666;
  position: relative;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 0.35em;

}
.controlSbar div{
  width: 0%;
  height: 100%%;
  /*transition: width 1s;
    transition-timing-function: linear;
  -webkit-transition-timing-function: linear;*/
  background-color: #00b6ff;
}


.controlTime{
  width: 20%;
  height: 20%;
  background-color: #666666;
  position: relative;
  bottom: 0;
  margin-left: 40%;
  margin-right: 40%;
  border: 1px solid #3f3f3f;
  cursor: pointer;
}

.controlTimeSchnippel{
  height: 0;
  width: 0;
  margin-top: -0.6em;
  position: absolute;
  z-index: 3;
  left: 50%;
  margin-left: -0.35em;
  border-color:  transparent transparent #666666;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #666666;
  border-left-color: transparent;
  border-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 0.35em;
}

.controlButtons{
  width: 100%;
  margin: 0 auto;
  height: 60%;
}

.slim.controlContainer{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #3f3f3f;
}

.full.controlContainer {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.rendererControlls {
  background-color: rgba(50,50,50,0.5);
  position: absolute;
  bottom: 5%;
  height: 15%;
  left: 20%;
  right: 20%;
}

.imageContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.focus {
  box-shadow: 8px 0 3px -2px #0089bf, -8px 0 3px -2px #99e2ff;
  background-color: #00b7ff !important;
}

  #mobilequeuecontrols{
    position:absolute;
    width: 100%;
    left:0px;
    border-top:1px solid $bordergray;

    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      bottom:0px;
      min-height:$phoneControlsMinHeight;
    }

    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      bottom:0px;
      min-height:$tabletControlsMinHeight;
    }
  }

  .mobilequeuecontrols .slim.controlContainer{
    position:absolute;
    background-color:white;

    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      width:100%;
      min-height:$phoneControlsMinHeight;
    }

    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      width:100%;
      min-height:$tabletControlsMinHeight;
    }

  }

  .mobilequeuecontrols .controlButtons{
    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      width:100%;
      //left:50%;
      //min-height:$phoneControlsMinHeight/2;
      height:50%;
      top:50%;
      float: right;
      text-align: center;
      //top:$phoneControlsMinHeight/2;
      position: relative;
      overflow: hidden;
    }

    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      float:right;
      width:35%;
    }
  }

  .mobilequeuecontrols .controlButton{
    background-color:$blue;
    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      $radius:$phoneControlsMinHeight/4;
      width:$radius;
      height:$radius;
      margin-top:$phoneControlsMinHeight/8;
      margin-right:2%;
      //margin-right:$radius/6;
      border-radius:$radius;
      float: none;
      display: inline-block;
      background-size: cover;
      background-position: center;
    }
    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      $radius:$tabletControlsMinHeight/3;
      width:$radius;
      height:$radius;
      margin-top:$radius;
      margin-right: $radius/4;
      border-radius:$radius;
      background-size: cover;
      background-position: center;
    }
  }
  /*  @media screen and (max-width: $mintabletwidth - 1) {
    .mobilequeuecontrols .controlButton:first-child{
    margin-left: 1%;
    }
  }*/

  .mobilequeuecontrols .controlSbar{
    $barsize:2px;
    height:$barsize;

    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      width:64%;
      left:16%;
      top:$phoneControlBarsTop;
      position:absolute;

      span{
        position: absolute;
        top: -10px;
        color: black;
      }

      span.elapsed{
        left: -24%;
      }

      span.remaining{
        left: 106%;
      }

    }

    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      width:54%;
      top:$tabletControlBarsTop;
      left: 10px;
      position: relative;
      margin-right: 4%;
      margin-left: 4%;

      span{
        position: absolute;
        top: -10px;
        color: black;
      }

      span.elapsed{
        left: -6%;
      }

      span.remaining{
        left: 101%;
      }

    }
  }

  .mobilequeuecontrols .controlSbar div{
    position: absolute;
    top: 0px;
  }

  $controlTimeSize:40px;
  .mobilequeuecontrols .controlTimeSchnippel{
    $timeSchnippelSize:4px;
    width:$timeSchnippelSize;
    height:$timeSchnippelSize;
    background:$blue;
    border:$timeSchnippelSize/2 solid $blue;
    border-radius:$timeSchnippelSize;
    position:absolute;
    top:$controlTimeSize/2 - $timeSchnippelSize;
    left:$controlTimeSize/2 - $timeSchnippelSize;
    z-index:3;
    margin:0;
  }

  .mobilequeuecontrols .controlTime{
    $borderWidth:$controlTimeSize/10;

    width:$controlTimeSize;
    height:$controlTimeSize;
    background: rgba($blue,0.7);
    border:$borderWidth solid $blue;
    border-radius:$controlTimeSize;
    position:absolute;

    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      $top:28px;
      top:$top;
      margin-left: 45%;
      margin-right: 30%;
    }

    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      $top:$tabletControlBarsTop - ($controlTimeSize + $borderWidth)/2;
      top:$top;
      margin-left: 30%;
      margin-right: 29%;
    }
  }

  .mobilequeuecontrols .controlItemInfo{
    left: 0;
    float: left;
    position: relative;
    min-width: 50%;

    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      //height: 40%;
      //top: 60%;
      //max-width:50%;
      display: none;
    }

    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      height: 50%;
      top: 0;
      vertical-align: middle;
      line-height: 200%;
    }
  }

  .mobilequeuecontrols .controlItemInfo div {
    margin-left: 5%;
  }

  //"Big" player only
  .controlButtons.controlsForImage {
    //margin-top: 3%;
    //PHONE
    //@media screen and (max-width: $mintabletwidth - 1) {

    //}

    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
    //  margin-left: 20%;
    //  width: 60%;
    }
  }
  
  #mobilecontrolbar.controlsForImage {
  	display: none;
  }
  
  #mobilecontroltime.controlsForImage {
  	display: none;
  }
  
  #mobileControlButtons.controlsForImage {
  	
  	.controlRewd {
  		display: none;
  	}
  	
  	.controlFwrd {
  		display: none;
  	}
  	
  	
  	.controlHres {
  		display: none;
  	}
  	
  }

  div.controlButtons.controlsForImage div.controlButton:first-child {
    margin-left: 20%;
    //PHONE
    //@media screen and (max-width: $mintabletwidth - 1) {

    //}


    //TABLET
    //@media screen and (min-width: $mintabletwidth - 1) {

    //}
  }

  video{
    display: inline;
    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      margin-top: 25%;
      width: 100%;
    }


    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      height: 100%;
    }
  }

  #renderer.pt-page{
    background-color: black;
  }
}

@mixin albumCover{
  #albumcover{
    background-image: url('../images/lp.svg');
    background-color: rgba($darkgray, 0.2);
    //box-shadow: 0 0 0 2px $blue;
    background-size: contain;
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    border-radius:13%;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(75%, transparent), to(rgba(0, 0, 0, 1)));
    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      top:15%;
      left: 25%;
      width: 50%;
      height: 40%;
    }

    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      top: 10%;
      left: 35%;
      width: 30%;
      height: 50%;
    }

  }

  .gloss{
    Background-color: rgba(255,255,255,0.15);
    height: 58%;
    width: 100%;
    overflow: hidden;
    z-index: 5;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, .3);
    border-bottom-right-radius: 65% 15%;
    border-bottom-left-radius: 65% 15%;
    border-top-right-radius: 17% 29%;
    border-top-left-radius: 17% 29%;
    position: absolute;
    top: 0px;
  }

  .iteminfo{
    color:$blue;
    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      font-size: 1.5em;
      text-shadow: 1px 1px rgba(white,0.5);
    }
    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      font-size: 2em;
      text-shadow: 2px 2px rgba(white,0.5);
    }

  }

  .iteminfo p{
    margin-top: 20%
  }
}