@mixin mobileController {

#container-control {

	.header-control {
		width: 100%;
		height: $headerheight;
		overflow: hidden;
		border-bottom: 1px solid $blue;
		display: -webkit-box;
		display: -webkit-box;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: center;
		-webkit-box-align: center;
	}

	#mobileselecttargetlist {
		li.mobileselected {
			height: 44px;
			border-bottom-width: 5px;
			border-bottom-color: $blue;
			border-bottom-style: solid;
			padding: 8px 8px 0px 8px;
		}
		li {
			padding: 8px 8px 0px 8px;
			height: 57px;
			display: inline-block;
			white-space: nowrap;
			border-image: none;

			.device-image {
				float: left;
				-webkit-mask-size: 36px 30px;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: 100% 50%;
				width: 40px;
			}

			.device-name {
				font-size: $fontsizemini;
			}
		}
	}

	.device {
		padding: 25px 30px 25px 22px;
		border-bottom: 1px;
		border-top: 0px;
		border-image: -webkit-linear-gradient(0deg, transparent, transparent 5%, $mediumgray 6%, $mediumgray 94%, transparent 95%, transparent) 1 stretch;
		white-space: nowrap;
	}

	.device-type {
		color: $darkgray;
		font-size: $fontsizemini;
	}


	.device-name {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.header-item-queue.separator {
		-webkit-box-flex: 1;
	}

  #controlpadwrapper{
    width: 100%;
    height: 100%;
  }

  .tapButton{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: $mediumgray;
    border-radius: 100%;
    border: solid 2px $fontcolor;

    width: 250px;
    height: 250px;

    @media screen and (min-width: 480px){
      width: 320px;
      height: 320px;
    }
    @media screen and (min-width: $mintabletwidth){
      width: 480px;
      height: 480px;
    }
  }

  .controlbutton {
		position: absolute;
		width: 25%;
		height: 25%;
		background-color: $fontcolor;
		border-radius: 15px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 25%;
  }

  .controlbutton:active {
		opacity: 0.5;
  }

	.clickAreaUp {
		left: 38%;
		top: 10%;
		border-top-right-radius: 50%;
		border-top-left-radius: 50%;
		background-image: inline-image('arrow_big_up.svg');
	}


	.clickAreaLeft {
		left: 12%;
		top: 36%;
		border-top-left-radius: 50%;
		border-bottom-left-radius: 50%;
		background-image: inline-image('arrow_big_left.svg');
	}

	.clickAreaRight {
		left: 64%;
		top: 36%;
		border-top-right-radius: 50%;
		border-bottom-right-radius: 50%;
		background-image: inline-image('arrow_big_right.svg');
	}

	.clickAreaOk{
		left: 38%;
		top: 36%;
	}

	.clickAreaDown {
		top: 62%;
		left: 38%;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		background-image: inline-image('arrow_big_down.svg');
	}

}
  
}