@charset "UTF-8";
@import "base";

$green: #669c08;
$blue: #48b3e4;
$fontcolor: #333333;
$darkgray: #777777;
$mediumgray: #dadada;
$lightgray: #f1f1f1;

$mintabletwidth: 1200px;
$headerheight: 70px;
$menuheight: 50px;
$category-wrapper-width-largescreen:150px;

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	color: $fontcolor;
}

ul {
	list-style-type:none;
	padding: 0px;
	margin: 0px;
}

.menu {
	width: 100%;
	background-color: $lightgray;
	overflow: hidden;
	border-bottom: 1px solid $green;
	height: $menuheight;
}

.menu-item {
	@include box-sizing(border-box);

	width: 32%;
	height:100%;
	float: left;
	text-align: center;
	padding: 14px 2px 15px 2px;
	text-decoration: none;
}

.menu-border {
	float: left;
	height: 20px;
	margin: 15px 2px 0px 2px;
	border-left: 1px solid $mediumgray;
}

.menu-item.menu-active {
	border-bottom: 5px solid $green;
	padding-bottom: 10px;
}

#menu-device {

	&:before {
		@media screen and (min-width: 551px) {
			content: 'Source and Target';
		}
	
		@media screen and (max-width: 550px) {
			content: 'Source & Target';
		}
	
		@media screen and (max-width: 410px) {
			content: 'Devices';
		}
	}
}

.subpage {
    overflow: hidden;
    width: 100%;
    height: auto;
    visibility: hidden;
    position: absolute;
    top: $menuheight + 1;
    bottom: 0;
}

.subpage-current {
    visibility: visible;
    z-index: 1;
}

.header {
	width: 100%;
	height: $headerheight;
	overflow: hidden;
	border-bottom: 1px solid $blue;
}

.header-item-device {
	@include box-sizing(border-box);

	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
	padding: 15px 2px 15px 2px;
}

#device-arrow {
	width: 40px;
	height: 14px;
	background-image: url('../images/device-arrow.svg');
	position: absolute;
	left: 49%;
	top: $headerheight / 2 - 7;

	@media screen and (max-width: $mintabletwidth) {
		display: none;
	}
}

#current-source-logo {
	vertical-align: middle;
	height: 40px;
}

#current-source-name {
	display: inline-block;
	vertical-align: middle;
	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
}

#current-target-logo {
	vertical-align: middle;
	height: 40px;
}

#current-target-name {
	display: inline-block;
	vertical-align: middle;
	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.header-item-media {
	@include box-sizing(border-box);
	padding: 15px 2px 15px 2px;
}

.header-item-queue {
	@include box-sizing(border-box);
	padding: 15px 2px 15px 2px;
}

.header-item-device.header-active {
	border-bottom: 3px solid $blue;
	padding-bottom: 10px;
}

.device-column {
	@include box-sizing(border-box);
	position: absolute;
	bottom: 0;
	top: $headerheight + 1;
	width: 50%;
}

#sourcewrapper {
  border-right: 1px solid $mediumgray;
}

#targetwrapper {
	left: 50%;
}

.device {
	padding: 25px 30px 25px 30px;
	border-bottom: 1px;
	border-top: 0px;
	border-image: -webkit-linear-gradient(0deg, transparent, transparent 5%, $mediumgray 6%, $mediumgray 94%, transparent 95%, transparent) 1 stretch;
}

.device-type {
	color: $darkgray;
}

.device {
	.device-image {
		float: right;
		height: 40px;
		width: 48px;
	}

	.device-image.type-laptop {
		background-image: url('../images/laptop.svg');
	}
	
	.device-image.type-pc {
		background-image: url('../images/pc.svg');
	}
	
	.device-image.type-phone {
		background-image: url('../images/phone.svg');
	}
	
	.device-image.type-tablet {
		background-image: url('../images/tablet.svg');
	}
	
	.device-image.type-tv {
		background-image: url('../images/tv.svg');
	}
}

.device.selected {
	.device-name {
		color: $blue;
	}
	
	.device-image.type-laptop {
		background-image: url('../images/laptop-selected.svg');
	}
	
	.device-image.type-pc {
		background-image: url('../images/pc-selected.svg');
	}
	
	.device-image.type-phone {
		background-image: url('../images/phone-selected.svg');
	}
	
	.device-image.type-tablet {
		background-image: url('../images/tablet-selected.svg');
	}
	
	.device-image.type-tv {
		background-image: url('../images/tv-selected.svg');
	}
}

.device-name {
	overflow: hidden;
	text-overflow: ellipsis;
}

#selected-source {
	vertical-align: middle;
	height: 40px;
}

#selected-source-intro {
	display: inline-block;
	vertical-align: middle;
}

#selected-source-name {
	display: inline-block;
	vertical-align: middle;
	color: $blue;
}

#categorywrapper {
	position: absolute;
	bottom: 0;
	top: $headerheight + 1;

	@media screen and (min-width: $mintabletwidth) {
		background-color: $lightgray;
		text-align: center;
		width: 150px;
		border-right: 2px solid $mediumgray;
	}
	
	@media screen and (max-width: $mintabletwidth - 1) {
		width: 100%;
	}
}

#contentwrapper {
	@media screen and (min-width: $mintabletwidth) {
		left: 151px;
		position: absolute;
		top: $headerheight + 1;
		bottom: 0;
	}
	
	@media screen and (max-width: $mintabletwidth - 1) {
		width: 100%;
	}
}

#categorylist {
	height: 100%;
}

.category {
	@media screen and (min-width: $mintabletwidth) {
		padding: 15px;
	}
	
	@media screen and (max-width: $mintabletwidth - 1) {
		@include box-sizing(border-box);
		padding: 15px 30px 0px 30px;
		float: left;
		display: inline-block;
		text-align: center;
		width: 50%;
	}
}

.category-name {
	@media screen and (max-width: $mintabletwidth - 1) {
		display: none;
	}

  @media screen and (max-width: 1199px) {
    visibility: hidden;
  }
}

@media screen and (min-width: 1200px){
  /*category-selection arrow*/
  .arrow_box {
    position: relative;
    background: transparent;
  }
  .arrow_box:after, .arrow_box:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: white;
    border-width: 13px;

    margin-top: -13px;
  }
  .arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: gray;
    border-width: 16px;

    margin-top: -16px;
  }

  #categorycontentlist{
    height: 100%;
  }

  #categorycontentlist li.category-content{
/*    background:red;
    border:1px solid yellow;*/
    background:white;
    border-left:1px solid gray;
    display:none;
    height:100%;
  }

  #categorycontentwrapper{
/*    background:lime;
    box-shadow: inset 5px 5px purple;*/
    width:auto;
    position: relative;
    height:100%;
    top: -100%;
    left: $category-wrapper-width-largescreen;
  }

/*  .category-content{
    height:100%;
    width:100%;
    background:white;
  }*/

  .media_item{
    background:red;
    color:yellow;
  }

  #contentwrapper{
    position: relative;
    top: -100%;
    left: $category-wrapper-width-largescreen;
    height: 100%;
    width: auto;
    background: white;
    border-left: 2px solid gray;
  }

  #contentlist{
    height:100%;
    width:100%;
  }

/*  .content-wrapper{
    height:100%;
    width:100%;
  }

  .content-list{
    height:100%;
    width:100%;
  }*/

  #selectmediawrapper{
    height:100%;
    width:100%;
  }
}