@charset "UTF-8";
@import "base";

html {
  height: 100%;
}

body {
  margin: 0px;
  font-family: $font-family;
  height: 100%;
  background-color: $tv_background_color;
  color: $tv_color;
}

#topmenu {
  height: 100%;
  float: left;
  width: 20%;
  clear: both;
}

#container-device {

}

.subpage {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100%;
    visibility: hidden;
}

.subpage-current {
    visibility: visible;
    z-index: 1;
}
