@charset "UTF-8";
/* line 4, ../sass/styles.scss */
body, li, ul {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: helvetica;
  color: white;
  font-size: 16px;
  background-color: #333;
}

/* line 14, ../sass/styles.scss */
body {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-user-select: none;
}

/* line 24, ../sass/styles.scss */
p {
  margin: 0;
}

/* line 28, ../sass/styles.scss */
.overlay {
  background: #000;
  opacity: .5;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* line 37, ../sass/styles.scss */
.menu {
  width: 25%;
  height: 90%;
  margin-top: 2.5%;
  background: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
}

/* line 47, ../sass/styles.scss */
.mm_button {
  display: block;
  width: 90%;
  height: 150px;
  padding: 0;
  margin: 5%;
  background: #3F3F3F;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
}

/* line 59, ../sass/styles.scss */
.mm_button p {
  margin: 0;
  padding-top: 65px;
}

/* line 64, ../sass/styles.scss */
.mm_browsermodebutton {
  display: inline-block;
  width: 50%;
  margin: 0;
}

/* line 70, ../sass/styles.scss */
.selecttargetlist {
  margin-left: 25%;
  width: 50%;
}

/* line 76, ../sass/styles.scss */
.selecttargetlist li {
  display: block;
  padding: 10px;
  margin-bottom: 6px;
  background-color: #3F3F3F;
  height: 132px;
}

/* line 85, ../sass/styles.scss */
.selecttargetlist li img {
  width: 35%;
  padding: 5px;
}

/* line 91, ../sass/styles.scss */
.pt-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #333;
  visibility: hidden;
}

/* line 101, ../sass/styles.scss */
.pt-page-current {
  visibility: visible;
  z-index: 1;
}

/* line 106, ../sass/styles.scss */
#startscreen img {
  width: 50%;
  float: right;
  margin: 0 12.5%;
}

/* line 112, ../sass/styles.scss */
#horizontalwrapper {
  position: absolute;
  left: 5%;
  top: 50%;
  width: 90%;
  background: #333;
  overflow: visible !important;
}

/* line 121, ../sass/styles.scss */
#verticalwrapper {
  position: relative;
}

/* line 125, ../sass/styles.scss */
.wrapper {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* line 132, ../sass/styles.scss */
.wrapper > ul {
  padding: 0 3px;
}

/* line 136, ../sass/styles.scss */
.buttonlist {
  width: 12.5%;
}

/* line 140, ../sass/styles.scss */
.buttonlist li {
  display: block;
  padding: 10px;
  margin-bottom: 6px;
  background-color: #3F3F3F;
}

/* line 147, ../sass/styles.scss */
.buttonlist li img {
  width: 35%;
  padding: 5px;
}

/* line 153, ../sass/styles.scss */
.contentlist {
  width: 25%;
}

/* line 157, ../sass/styles.scss */
#queuewrapper, #contentwrapper {
  width: 100%;
}

/* line 161, ../sass/styles.scss */
.contentlist li {
  display: block;
  background-color: #3F3F3F;
}

/* line 166, ../sass/styles.scss */
.contentlist li:nth-child(2n) {
  background-color: #333;
}

/* line 171, ../sass/styles.scss */
.albumhead {
  height: 60px;
  padding: 5px;
}

/* line 176, ../sass/styles.scss */
.albumhead p {
  padding: 10px;
  margin: 0;
  float: left;
}

/* line 182, ../sass/styles.scss */
.albumToggleIcon {
  position: relative;
  width: 20px;
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
}

/* line 190, ../sass/styles.scss */
.albumcover {
  height: 100%;
  float: left;
}

/* line 195, ../sass/styles.scss */
.albumsonglist {
  padding: 0;
  display: none;
}

/* line 200, ../sass/styles.scss */
.albumsonglist > li, #contentlist > li:not(.album), #queuelist > li {
  height: 20px;
}

/* line 204, ../sass/styles.scss */
.albumsonglist > li > p, #contentlist > li > p, #queuelist > li > p {
  float: left;
  padding-left: 20px;
  padding-top: 1px;
}

/* line 210, ../sass/styles.scss */
.albumsonglist > li > img, #contentlist > li > img, #queuelist > li > img {
  height: 100%;
  float: right;
}

/* line 215, ../sass/styles.scss */
#playmodelist > li > img {
  margin-top: 50%;
}

/* line 219, ../sass/styles.scss */
.queuecontrols {
  width: 100%;
  height: 90px;
  padding-bottom: 10px;
}

/* line 225, ../sass/styles.scss */
.focus {
  box-shadow: 8px 0 3px -2px #0089bf, -8px 0 3px -2px #99e2ff;
  background-color: #00b7ff !important;
}

/* line 229, ../sass/styles.scss */
.selected {
  background-color: #666666 !important;
}

/* line 233, ../sass/styles.scss */
#header {
  height: 20px;
}

/* line 237, ../sass/styles.scss */
.listhead, .listfoot {
  height: 20px;
  float: left;
}

/* line 242, ../sass/styles.scss */
.listhead p {
  display: block;
  text-align: left;
  height: 20px;
  font-size: 14px;
  margin: 0;
}

/* line 250, ../sass/styles.scss */
.listhead img {
  height: 100%;
  float: left;
  padding: 0;
}

/* line 257, ../sass/styles.scss */
.searchfield {
  width: 100%;
  height: 40px;
  background-color: #3F3F3F;
  margin-bottom: 10px;
}

/* line 263, ../sass/styles.scss */
.searchfield img {
  float: left;
  height: 100%;
}

/* line 267, ../sass/styles.scss */
.searchfield input[type=text] {
  float: right;
  width: 70%;
  height: 30px;
  margin: 5px;
  padding: 0;
  border: 0;
  font-size: 14px;
  background-color: #333;
  color: white;
}

/* line 279, ../sass/styles.scss */
.topfadeout, .bottomfadeout {
  z-index: 2;
  position: fixed;
  height: 40px;
  margin-top: -1px;
  background: -webkit-linear-gradient(bottom, rgba(51, 51, 51, 0) 0%, #333333 100%);
}

/* line 286, ../sass/styles.scss */
.bottomfadeout {
  margin-top: -40px;
  background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0) 0%, #333333 100%);
}

/* line 291, ../sass/styles.scss */
#leftfadeout, #rightfadeout {
  position: absolute;
  z-index: 2;
  width: 5%;
  height: 100%;
  background: -webkit-linear-gradient(right, rgba(51, 51, 51, 0) 0%, #333333 100%);
}

/* line 298, ../sass/styles.scss */
#rightfadeout {
  z-index: 12;
  right: 0px;
  background: -webkit-linear-gradient(left, rgba(51, 51, 51, 0) 0%, #333333 100%);
}

/* --- REMOTE --- */
/* line 305, ../sass/styles.scss */
.pageRemote {
  background-color: #333;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

/* line 311, ../sass/styles.scss */
.landscape .backButton {
  background-image: url(../images/Remote/back_area_landscape.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  margin: 1em;
}

/* line 319, ../sass/styles.scss */
.backButton .backButtonCaption {
  background-image: url(../images/Remote/back.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  bottom: 0px;
  left: 0px;
  width: 15%;
  height: 10%;
  position: absolute;
  margin: 1em;
  cursor: pointer;
}

/* line 333, ../sass/styles.scss */
.clickAreaBack, .clickAreaUp, .clickAreaDown, .clickAreaLeft, .clickAreaRight, .clickAreaOk {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

/* line 341, ../sass/styles.scss */
.clickAreaRight:active, .clickAreaBack:active {
  background: -moz-linear-gradient(left, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #333333), color-stop(100%, rgba(63, 63, 63, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* W3C */
}

/* line 350, ../sass/styles.scss */
.clickAreaRight:active {
  border-radius: 100px 0 0 100px;
}

/* line 353, ../sass/styles.scss */
.clickAreaBack:active {
  border-radius: 0;
}

/* line 357, ../sass/styles.scss */
.clickAreaLeft:active {
  background: -moz-linear-gradient(right, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, right top, left top, color-stop(0%, #333333), color-stop(100%, rgba(63, 63, 63, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(right, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(right, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(right, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to left, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* W3C */
  border-radius: 0 100px 100px 0;
}

/* line 367, ../sass/styles.scss */
.clickAreaUp:active {
  background: -moz-linear-gradient(top, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, rgba(63, 63, 63, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to top, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* W3C */
  border-radius: 0 0 100px 100px;
}

/* line 377, ../sass/styles.scss */
.clickAreaDown:active {
  background: -moz-linear-gradient(bottom, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #333333), color-stop(100%, rgba(63, 63, 63, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(bottom, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(bottom, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #333333 0%, rgba(63, 63, 63, 0) 100%);
  /* W3C */
  border-radius: 100px 100px 0 0;
}

/* line 387, ../sass/styles.scss */
.clickAreaOk:active {
  background: -moz-radial-gradient(center, ellipse cover, rgba(51, 51, 51, 0) 0%, #3f3f3f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(51, 51, 51, 0)), color-stop(100%, #3f3f3f));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(51, 51, 51, 0) 0%, #3f3f3f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(51, 51, 51, 0) 0%, #3f3f3f 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(51, 51, 51, 0) 0%, #3f3f3f 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(51, 51, 51, 0) 0%, #3f3f3f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00333333', endColorstr='#3f3f3f',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 100px;
}

/* line 398, ../sass/styles.scss */
.landscape .tapButton {
  background-image: url(../images/Remote/circle_tap_full.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 0px;
  bottom: 0px;
  left: 100px;
  right: 0px;
  position: absolute;
  margin: 1em;
}

/* line 406, ../sass/styles.scss */
.switchButtons {
  top: 0px;
  right: 0px;
  width: 5%;
  height: 10%;
  position: absolute;
  margin: 1em;
}

/* line 413, ../sass/styles.scss */
.toggleTapButton {
  background-image: url(../images/Remote/mode_tap.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right middle;
  right: 18%;
  cursor: pointer;
}

/* line 421, ../sass/styles.scss */
.toggleSwipeButton {
  background-image: url(../images/Remote/mode_swipe.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right middle;
  right: 12%;
  cursor: pointer;
}

/* line 429, ../sass/styles.scss */
.toggleGyroButton {
  background-image: url(../images/Remote/mode_gyro.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right middle;
  right: 6%;
  cursor: pointer;
}

/* line 437, ../sass/styles.scss */
.searchButton {
  background-image: url(../images/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right middle;
  right: 24%;
  cursor: pointer;
}

/* line 445, ../sass/styles.scss */
.changeModeButton {
  background-image: url(../images/mode_selector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right middle;
  cursor: pointer;
}

/* line 452, ../sass/styles.scss */
.logoArea {
  background-image: url(../images/webinos_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  bottom: 0px;
  right: 0px;
  width: 15%;
  height: 10%;
  position: absolute;
  margin: 1em;
}

/* --- Controls --- */
/* line 465, ../sass/styles.scss */
.controlButton {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 12%;
  height: 100%;
  float: left;
  cursor: pointer;
}

/* line 475, ../sass/styles.scss */
.controlPrev {
  background-image: url(../images/player_prev.svg);
}

/* line 478, ../sass/styles.scss */
.controlRewd {
  background-image: url(../images/player_bwd.svg);
}

/* line 481, ../sass/styles.scss */
.controlPlay {
  background-image: url(../images/player_play.svg);
}

/* line 484, ../sass/styles.scss */
.controlPaus {
  background-image: url(../images/player_pause.svg);
}

/* line 487, ../sass/styles.scss */
.controlFwrd {
  background-image: url(../images/player_fwd.svg);
}

/* line 490, ../sass/styles.scss */
.controlNext {
  background-image: url(../images/player_next.svg);
}

/* line 493, ../sass/styles.scss */
.controlDele {
  background-image: url(../images/trash_playlist.svg);
}

/* line 496, ../sass/styles.scss */
.controlFull {
  background-image: url(../images/player_enter_fullscreen.svg);
}

/* line 499, ../sass/styles.scss */
.controlHres {
  background-image: url(../images/player_hd.svg);
}

/* line 502, ../sass/styles.scss */
.controlSbar {
  width: 94%;
  height: 10%;
  background-color: #666666;
  position: relative;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 0.35em;
}

/* line 512, ../sass/styles.scss */
.controlSbar div {
  width: 0%;
  height: 100%%;
  /*transition: width 1s;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;*/
  background-color: #00b6ff;
}

/* line 522, ../sass/styles.scss */
.controlTime {
  width: 20%;
  height: 20%;
  background-color: #666666;
  position: relative;
  bottom: 0;
  margin-left: 40%;
  margin-right: 40%;
  border: 1px solid #3f3f3f;
  cursor: pointer;
}

/* line 534, ../sass/styles.scss */
.controlTimeSchnippel {
  height: 0;
  width: 0;
  margin-top: -0.6em;
  position: absolute;
  z-index: 3;
  left: 50%;
  margin-left: -0.35em;
  border-color: transparent transparent #666666;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #666666;
  border-left-color: transparent;
  border-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 0.35em;
}

/* line 555, ../sass/styles.scss */
.controlButtons {
  width: 100%;
  margin: 0 auto;
  height: 60%;
}

/* line 561, ../sass/styles.scss */
.controlContainer {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #3f3f3f;
  border-left: 3px solid #333;
  border-right: 3px solid #333;
}
