@charset "UTF-8";

@font-face {
    font-family: DroidSans;
    src: url('DroidSans-webfont.woff') format('woff');
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    outline:none;
}

body, li, ul {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: DroidSans, sans-serif;
    color: white;
    font-size: 16px;
    background-color: #333;
}

body {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overlay {
    background: #000;
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.menu {
    width: 280px;
    height: 280px;
    padding: 10px;
    position: absolute;
    top: 10px; left: 0;
    z-index: 11;
    background: #333;
}

.mm_button {
    position: relative;
    display: block;
    width: 100%;
    height: 31%;
    padding: 0;
    margin-bottom: 10px;
    background: #3F3F3F;
    border: none;
    cursor: pointer;
    -webkit-user-select: none;
}

.mm_button p{
    margin: 0;
    padding-top: 40px;
}

.mm_browsermodebutton {
    display: inline-block;
    width: 50%;
    margin: 0;
}


.selecttargetlist li {
    display: block;
    padding: 10px;
    margin-bottom: 6px;
    background-color:#3F3F3F;
    height: 132px;
}


.selecttargetlist li img {
    width: 35%;
    padding: 5px;
}


.pt-page {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #333;
    visibility: hidden;
}

.pt-page-current {
    visibility: visible;
    z-index: 1;
}

#startscreen img {
    width: 50%;
    float: right;
    margin: 0 12.5%;
}

#horizontalwrapper {
    position:absolute;
    left:5%;
    top:50%;
    width: 90%;
    background:#333;
    overflow: visible!important;
}

#verticalwrapper {
    position: relative;
}

.wrapper {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.wrapper > ul {
    padding: 0 3px;
    position: relative;
}

.buttonlist {
    width: 12.5%;
}

.buttonlist li {
    display: block;
    margin-bottom: 6px;
    background-color:#3F3F3F;
    position: relative; 
}

.buttonlist li img {
    width: 40%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 25%;

}.buttonlist li p {
    height: 20%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 5%;
}



.contentlist {
    width: 25%;
}

#queuewrapper, #contentwrapper {
    width: 100%;
}

.contentlist li{
    display: block;
    background-color: #3F3F3F;
}

.contentlist li:nth-child(2n){
    background-color: #333;
}


.albumhead {
    height: 96px;
    padding: 5px;
}

.albumhead p {
    padding: 10px;
    margin: 0;
    float: left;
}

.albumToggleIcon {
    position: relative;
    width: 20px;
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
}

.albumcover {
    height: 100%;
    float: left;
}

.albumsonglist {
    padding: 0;
    display:none;
}

.selectIcon {
    float: right!important;
    height: 20px;
    padding-top: 4px; 
}
.imageContent > .selectIcon {
    position: relative;
    top: 38px;
}

.textContent {
    height: 28px;
}
.textContent p{
    text-align: left;
    float: left;
    padding-left: 15px;
    padding-top: 5px;
    width: 85%;
}

.imageContent {
    position: relative;
    height: 96px;
    padding: 5px 0;
}

.queuecontrols {
    width: 100%;
    height:90px;
    padding-bottom: 10px;
}

.selected {
    background-color: #666666 !important;
}

.focus {
    box-shadow: 8px 0 3px -2px #0089bf, -8px 0 3px -2px #99e2ff;
    background-color: #00b7ff !important;
}

#header {
    height: 20px;
}

.listhead, .listfoot {
    height: 20px;
    float: left;
}

.listhead p {
    display: block;
    text-align: left;
    height: 20px;
    font-size: 14px;
    margin: 0;
}

.listhead img {
    height: 100%;
    float: left;
    padding: 0;

}

.searchfield{
    width: 100%;
    height: 40px;
    background-color: #3F3F3F;
    margin-bottom: 10px;
    margin-left: 3px;
}
.searchfield img {
    float: left;
    height: 100%;
}
.searchfield input[type=text] {
    float: right;
    width: 70%;
    height: 30px;
    margin: 5px;
    padding: 0;
    border: 0;
    font-size: 14px;
    background-color: #333;
    color: white;
}

.topfadeout, .bottomfadeout{
    z-index: 2;
    position: fixed;
    height: 40px;
    margin-top: -1px;
    background: -webkit-linear-gradient(bottom,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%);
}
.bottomfadeout {
    margin-top: -40px;
    background: -webkit-linear-gradient(top,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%);
}

#leftfadeout, #rightfadeout {
    position: absolute;
    z-index: 2;
    width: 5%;
    height: 100%;
    background: -webkit-linear-gradient(right,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%);
}
#rightfadeout {
    z-index: 12;
    right: 0px;
    background: -webkit-linear-gradient(left,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%);
}

/* --- REMOTE --- */
.pageRemote{
    background-color: #333;
    position: absolute;
    top: 0px; bottom: 0px; left: 0px; right: 0px;
    overflow: hidden;
}
.landscape .backButton{
    background-image: url(../images/Remote/back_area_landscape.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 0px; bottom: 0px; left: 0px; right: 0px;
    position: absolute;
    margin: 1em;
}
.backButton .backButtonCaption {
    background-image: url(../images/Remote/back.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    bottom: 0px; left: 0px;
    width: 15%;
    height: 10%;
    position: absolute;
    margin: 1em;
    cursor: pointer;

}

.clickAreaBack, .clickAreaUp, .clickAreaDown, .clickAreaLeft, .clickAreaRight, .clickAreaOk{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;

}

.clickAreaRight:active, .clickAreaBack:active{
background: -moz-linear-gradient(left,  rgba(51,51,51,1) 0%, rgba(63,63,63,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(63,63,63,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(51,51,51,1) 0%,rgba(63,63,63,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(51,51,51,1) 0%,rgba(63,63,63,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(51,51,51,1) 0%,rgba(63,63,63,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(51,51,51,1) 0%,rgba(63,63,63,0) 100%); /* W3C */

}
.clickAreaRight:active{
border-radius: 100px 0 0 100px;
}
.clickAreaBack:active{
border-radius: 0;
}

.clickAreaLeft:active{
background: -moz-linear-gradient(right,  rgba(51,51,51,1) 0%, rgba(63,63,63,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, right top, left top, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(63,63,63,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(right,  rgba(51,51,51,1) 0%,rgba(63,63,63,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(right,  rgba(51,51,51,1) 0%,rgba(63,63,63,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(right,  rgba(51,51,51,1) 0%,rgba(63,63,63,0) 100%); /* IE10+ */
background: linear-gradient(to left,  rgba(51,51,51,1) 0%,rgba(63,63,63,0) 100%); /* W3C */
border-radius: 0 100px 100px 0;
}

.clickAreaUp:active{
background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(63,63,63,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(63,63,63,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(63,63,63,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(63,63,63,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(63,63,63,0) 100%); /* IE10+ */
background: linear-gradient(to top,  rgba(51,51,51,1) 0%,rgba(63,63,63,0) 100%); /* W3C */
border-radius: 0 0 100px 100px;
}

.clickAreaDown:active{
background: -moz-linear-gradient(bottom,  rgba(51,51,51,1) 0%, rgba(63,63,63,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(63,63,63,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(bottom,  rgba(51,51,51,1) 0%,rgba(63,63,63,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(bottom,  rgba(51,51,51,1) 0%,rgba(63,63,63,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(bottom,  rgba(51,51,51,1) 0%,rgba(63,63,63,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(63,63,63,0) 100%); /* W3C */
border-radius: 100px 100px 0 0 ;
}

.clickAreaOk:active{
    background: -moz-radial-gradient(center, ellipse cover,  rgba(51,51,51,0) 0%, rgba(63,63,63,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(51,51,51,0)), color-stop(100%,rgba(63,63,63,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(51,51,51,0) 0%,rgba(63,63,63,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(51,51,51,0) 0%,rgba(63,63,63,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(51,51,51,0) 0%,rgba(63,63,63,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(51,51,51,0) 0%,rgba(63,63,63,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00333333', endColorstr='#3f3f3f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
border-radius: 100px;
}

.landscape .tapButton{
    background-image: url(../images/Remote/circle_tap_full.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 0px; bottom: 0px; left: 100px; right: 0px;
    position: absolute;
    margin: 1em;
}
.switchButtons{
    top: 0px; right: 0px;
    width: 5%;
    height: 10%;
    position: absolute;
    margin: 1em;
}
.toggleTapButton{
    background-image: url(../images/Remote/mode_tap.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right middle;
    right: 18%;
    cursor: pointer;
}
.toggleSwipeButton{
    background-image: url(../images/Remote/mode_swipe.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right middle;
    right: 12%;
    cursor: pointer;
}
.toggleGyroButton{
    background-image: url(../images/Remote/mode_gyro.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right middle;
    right: 6%;
    cursor: pointer;
}
.searchButton{
    background-image: url(../images/search.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right middle;
    right: 24%;
    cursor: pointer;
}
.changeModeButton{
    background-image: url(../images/mode_selector.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right middle;
    cursor: pointer;
}
.logoArea{
    background-image: url(../images/webinos_logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    bottom: 0px; right: 0px;
    width: 15%;
    height: 10%;
    position: absolute;
    margin: 1em;
}

/* --- Controls --- */
.controlButton{
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 12%;
    height: 100%;
    float:left;
    cursor: pointer;
}

.controlPrev{
    background-image: url(../images/player_prev.svg);
}
.controlRewd{
    background-image: url(../images/player_bwd.svg);
}
.controlPlay{
    background-image: url(../images/player_play.svg);
}
.controlPaus{
    background-image: url(../images/player_pause.svg);
}
.controlFwrd{
    background-image: url(../images/player_fwd.svg);
}
.controlNext{
    background-image: url(../images/player_next.svg);
}
.controlDele{
    background-image: url(../images/trash_playlist.svg);
}
.controlFull{
    background-image: url(../images/player_enter_fullscreen.svg);
}
.controlHres{
    background-image: url(../images/player_hd.svg);
}
.controlSbar{
    width: 94%;
    height: 10%;
    background-color: #666666;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0.35em;

}
.controlSbar div{
        width: 0%;
    height: 100%%;
    /*transition: width 1s;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;*/
    background-color: #00b6ff;  
}


.controlTime{
    width: 20%;
    height: 20%;
    background-color: #666666;
    position: relative;
    bottom: 0;
    margin-left: 40%;
    margin-right: 40%; 
    border: 1px solid #3f3f3f;
    cursor: pointer;
}

.controlTimeSchnippel{
    height: 0;
    width: 0;
    margin-top: -0.6em;
    position: absolute;
    z-index: 3;
    left: 50%;
    margin-left: -0.35em;
    border-color:  transparent transparent #666666;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #666666;
    border-left-color: transparent;
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 0.35em;
}

.controlButtons{
    width: 100%;
    margin: 0 auto;
    height: 60%;
}

.controlContainer{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: #3f3f3f;
    border-left: 3px solid #333;    
    border-right: 3px solid #333;
}
