@charset "UTF-8";

body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style-type:none;
	padding: 0px;
	margin: 0px;
}

.menu {
	width: 100%;
	background-color: rgb(241,241,241);
	overflow: hidden;
	border-bottom: 1px solid rgb(102, 156,8);
}

.menu-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 

	width: 32%;
	float: left;
	text-align: center;
	padding: 15px 2px 15px 2px;
	text-decoration: none;
	color: black;
}

.menu-border {
	float: left;
	height: 20px;
	margin: 15px 2px 0px 2px;
	border-left: 1px solid rgb(218,218,218);
}

.menu-item.menu-active {
	border-bottom: 5px solid rgb(102, 156,8);
	padding-bottom: 10px;
}

.subpage {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: white;
    visibility: hidden;
    position: absolute;
}

.subpage-current {
    visibility: visible;
    z-index: 1;
}

.header {
	width: 100%;
	background-color: white;
	overflow: hidden;
	border-bottom: 1px solid rgb(72, 179, 228);
}

.header-item-device {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 

	width: 50%;
	float: left;
	text-align: center;
	padding: 15px 2px 15px 2px;
}

.header-item-media {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 2px 15px 2px;
}

.header-item-queue {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 2px 15px 2px;
}

.header-item-device.header-active {
	border-bottom: 5px solid rgb(72, 179, 228);
	padding-bottom: 10px;
}

.device-column {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 

	width: 50%;
	float: left;
}


.device {
	padding: 25px 15px 25px 15px;
}

.device.selected {
	background-color: rgb(104,194,233);
}

.device-type {
	color: rgb(119,119,119);
}

.device-image {
	float: right;
}

.device-name {
	overflow: hidden;
	text-overflow: ellipsis;
}