@mixin leftSideMenu{
  #leftfadeout{
    background: rgba($bordergray,0.65);
    width:0.5em;
    z-index:2;
    position: absolute;
  }

  //Mobile draggable Main Menu
  #leftdragbar{
    background: black;
    height:100%;
    width:0.5em;
    float:right;
    cursor: col-resize;
  }

  .verticalgrippie{
    position: relative;
    top: 50%;
    left: -0.6em;
  }

  .verticalgrippie:after{
    content:'•••';
    color:$lightgray;
    position:absolute;
    top:50%;
    -webkit-transform:rotateZ(90deg);
    -moz-transform:rotateZ(90deg);
    -o-transform:rotateZ(90deg);
    -ms-transform:rotateZ(90deg);
    transform:rotateZ(90deg);
  }

  #leftmenu{
    height:100%;
  }

  .mmm_item {
    background: rgba(black,0.8);
    border: 2px solid $lightgray;
    color:$lightgray;
    //if 4 items -> 22%, if 3 items -> 31%
    /*height: 22%;*/
    height: 31%;
    margin-top: 1%;
    margin-right: 5%;
    margin-left: 5%;
  }

  .mmm_item:hover, mmm_highlight {
    background: rgba($blue,0.8);
  }

  .mmm_item p {
    top: 50%;
    font-size: 250%;
    position: relative;
  }
}

@mixin rightSideMenu{
  #rightfadeout{
    display:none
  }
}