//mobile player UI
@mixin mobilePlayer{
  $tabletControlsMinHeight:150px;
  $tabletControlBarsTop:$tabletControlsMinHeight/3*2;

  $phoneControlsMinHeight:150px;
  $phoneControlBarsTop:$phoneControlsMinHeight/3;


  #mobilequeuecontrols{
    position:absolute;
    width: 100%;
    left:0px;
    border-top:1px solid $bordergray;

    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      bottom:0px;
      min-height:$phoneControlsMinHeight;
    }

    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      bottom:0px;
      min-height:$tabletControlsMinHeight;
    }
  }

  .mobilequeuecontrols .slim.controlContainer{
    position:absolute;
    background-color:white;

    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      width:100%;
      min-height:$phoneControlsMinHeight;
    }

    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      width:100%;
      min-height:$tabletControlsMinHeight;
    }

  }

  .mobilequeuecontrols .controlButtons{
    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      width:50%;
      //left:50%;
      //min-height:$phoneControlsMinHeight/2;
      height:50%;
      top:50%;
      float: right;
      text-align: center;
      //top:$phoneControlsMinHeight/2;
      position: relative;
      overflow: hidden;
    }

    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      float:right;
      width:35%;
    }
  }

  .mobilequeuecontrols .controlButton{
    background-color:$blue;
    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      $radius:$phoneControlsMinHeight/4;
      width:$radius;
      height:$radius;
      margin-top:$phoneControlsMinHeight/8;
      margin-right:2%;
      //margin-right:$radius/6;
      border-radius:$radius;
      float: none;
      display: inline-block;
      background-size: $radius $radius;
      background-position-y: center;
    }
    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      $radius:$tabletControlsMinHeight/3;
      width:$radius;
      height:$radius;
      margin-top:$radius;
      margin-right: $radius/4;
      border-radius:$radius;
      background-size: $radius $radius;
      background-position-y: center;
    }
  }
  /*  @media screen and (max-width: $mintabletwidth - 1) {
    .mobilequeuecontrols .controlButton:first-child{
    margin-left: 1%;
    }
  }*/

  .mobilequeuecontrols .controlSbar{
    $barsize:2px;
    height:$barsize;

    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      width:64%;
      left:16%;
      top:$phoneControlBarsTop;
      position:absolute;

      span{
        position: absolute;
        top: -10px;
        color: black;
      }

      span.elapsed{
        left: -24%;
      }

      span.remaining{
        left: 106%;
      }

    }

    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      width:54%;
      top:$tabletControlBarsTop;
      left: 10px;
      position: relative;
      margin-right: 4%;
      margin-left: 4%;

      span{
        position: absolute;
        top: -10px;
        color: black;
      }

      span.elapsed{
        left: -6%;
      }

      span.remaining{
        left: 101%;
      }

    }
  }

  .mobilequeuecontrols .controlSbar div{
    position: absolute;
    top: 0px;
  }

  $controlTimeSize:40px;
  .mobilequeuecontrols .controlTimeSchnippel{
    $timeSchnippelSize:4px;
    width:$timeSchnippelSize;
    height:$timeSchnippelSize;
    background:$blue;
    border:$timeSchnippelSize/2 solid $blue;
    border-radius:$timeSchnippelSize;
    position:absolute;
    top:$controlTimeSize/2 - $timeSchnippelSize;
    left:$controlTimeSize/2 - $timeSchnippelSize;
    z-index:3;
    margin:0;
  }

  .mobilequeuecontrols .controlTime{
    $borderWidth:$controlTimeSize/10;

    width:$controlTimeSize;
    height:$controlTimeSize;
    background: rgba($blue,0.7);
    border:$borderWidth solid $blue;
    border-radius:$controlTimeSize;
    position:absolute;

    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      $top:28px;
      top:$top;
      margin-left: 45%;
      margin-right: 30%;
    }

    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      $top:$tabletControlBarsTop - ($controlTimeSize + $borderWidth)/2;
      top:$top;
      margin-left: 30%;
      margin-right: 29%;
    }
  }

  .mobilequeuecontrols .controlItemInfo{
    left: 0;
    float: left;
    position: relative;
    min-width: 50%;

    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      height: 40%;
      top: 60%;
      max-width:50%;
    }

    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      height: 50%;
      top: 0;
      vertical-align: middle;
      line-height: 200%;
    }
  }

  .mobilequeuecontrols .controlItemInfo div {
    margin-left: 5%;
  }

}

@mixin albumCover{
  #albumcover{
    background-image: url('../images/lp.svg');
    background-color: rgba($darkgray, 0.2);
    /*box-shadow: 0 0 0 2px $blue;*/
    background-size: 100%;
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(75%, transparent), to(rgba(0, 0, 0, 1)));
    //PHONE
    @media screen and (max-width: $mintabletwidth - 1) {
      top:15%;
      left: 25%;
      width: 50%;
      height: 40%;
    }

    //TABLET
    @media screen and (min-width: $mintabletwidth - 1) {
      top: 10%;
      left: 35%;
      width: 30%;
      height: 50%;
    }

  }
}